body {
    background-color: white;
    background-repeat: repeat-x;
}

.jumbotron {
    background-image: url("../images/sky.png");
    background-size: cover;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    max-height: 200px;
}

.lead {
    font-family: 'Bungee Inline', cursive;
}

#map {
    height: 580px;
    width: 70%;
}

